numpy==1.24.4
pandas==1.5.3
scikit-learn==1.2.2
matplotlib==3.7.1
seaborn==0.12.2
tensorflow==2.13.0
keras==2.13.0
torch==2.0.1
torchvision==0.15.2
jupyterlab==3.6.3
notebook==6.5.3
scipy==1.11.1
xgboost==1.7.5
lightgbm==3.3.6
catboost==1.0.6
imbalanced-learn==0.10.1
